Repository sankaSanjeeva/react-headless-calendar: changes, and which lint-staged commands are due for each by the changed paths.
All: tsc, eslint, prettier --write

🔧 Add "globalIgnores" to eslint config
  eslint.config.mts
Due: none

🔧 Add ci github action
  .github/workflows/ci.yml
  package.json
Due: prettier --write

🚨 Fix lint errors
  .lintstagedrc
  .prettierrc
  tsup.config.ts
Due: tsc, eslint

🔧 Fix type in ci workflow
  .github/workflows/ci.yml
Due: none

🔧 Update pnpm version in ci action
  .github/workflows/ci.yml
  pnpm-lock.yaml
Due: none

🚑 Fix github action issue adding initial ts file
  src/index.ts
Due: tsc, eslint

🔧 Remove unnecessary dev dependencies
  eslint.config.mts
  package.json
  pnpm-lock.yaml
Due: prettier --write

🚨 Fix lint errors
  tsconfig.json
Due: prettier --write

🔧 Update configuration changes
  .lintstagedrc
  eslint.config.mts
  lint-staged.config.js
  package.json
  tsconfig.json
Due: prettier --write

👷 Add initial code
  README.md
  package.json
  pnpm-lock.yaml
  src/hook/index.ts
  src/hook/utils.ts
  src/index.ts
  src/types.ts
Due: tsc, eslint, prettier --write

🔧 Add publish github action
  .changeset/config.json
  .github/workflows/publish.yml
  .npmignore
Due: prettier --write

🦋 Add changeset
  .changeset/beige-cups-heal.md
Due: prettier --write

🔧 Add release script to package.json
  .github/workflows/publish.yml
  package.json
Due: prettier --write

🔧 Add scope to package name
  .changeset/beige-cups-heal.md
  README.md
  package.json
Due: prettier --write

🔧 Add scoped package name
  CHANGELOG.md
  README.md
  package.json
Due: prettier --write

🔧 Change package scope name
  CHANGELOG.md
  README.md
  package.json
Due: prettier --write

Path conditions:
  tsc: any of: *.ts
  eslint: any of: *.ts
  prettier --write: any of: *.{json,md}
